{% extends "@BiopenSaasBundle/sass-layout.html.twig" %}

{% block title %}GoGoCarto - Des cartes à GoGo{% endblock %}
{% set pageName = 'home' %}

{% block body %}
  <section class="title">
    <h1>GoGoCarto, créez des cartes à GoGo !</h1>

    <iframe width="560" height="315" sandbox="allow-same-origin allow-scripts" src="https://video.colibris-outilslibres.org/videos/embed/62279fe4-06d9-4fdc-8e0d-3d5de3c05072" frameborder="0" allowfullscreen></iframe>

    <p><a href="{{ path('biopen_saas_new_project') }}"><button class="btn new-project">Créer un projet</button></a></p>

  </section>

  <section class="projects">
    <h2>Liste des projets déjà créés</h2>
    <div class="project-list">
      {% for row in projects|batch(3) %}
        <div class="row">
          {% for project in row %}
          <div class="project-container col s12 m4">
            <div class="project-item waves-effect waves-block waves-light z-depth-1" onclick="window.open('{{ project.homeUrl }}', '_blank');">
              {% if project.imageUrl %}
                <img class="project-logo" src="{{ project.imageUrl }}">
              {% else %}
                <img class="project-logo default" src="{{ asset('assets/img/default-icon.png') }}">
              {% endif %}
              
              <div class="project-content">              
                <div class="name">{{ project.name|capitalize }}</div>
                <div class="data-size gogo-bg-primary">{{ project.dataSize }}<span class="icon gogo-icon-marker-symbol"></span></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}