{% extends '@BiopenAdmin/pages/page_layout.html.twig' %}

{% block page_title %}Action de masse{% endblock %}

{% block page_content %}
  <iframe height="190" sandbox="allow-same-origin allow-scripts" src="https://video.colibris-outilslibres.org/videos/embed/b3367cfb-445d-441c-b368-15038890897a" frameborder="0" allowfullscreen></iframe>
  <div> 
    <a class="btn btn-primary" href={{ path('biopen_bulk_actions_detect_duplicates') }}>Détecter les doublons</a>
    <a class="btn btn-primary" href={{ path('biopen_duplicates_index') }}>Gérer les doublons détectés</a>
  </div>
  <div><a class="btn btn-danger" href={{ path('biopen_bulk_actions_delete_element_reported') }}>Supprimer les éléments reportés comme n'existant plus</a></div>
  </br>
  <div><a class="btn btn-default" href={{ path('biopen_bulk_actions_update_json') }}>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Mettre à jour les representations JSON</a></div>
  <div><a class="btn btn-default" href={{ path('biopen_bulk_actions_update_options_string') }}>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Mettre à jour le noms des catégories des éléments (à faire avant un export) </a></div>

  <style>
  .btn { margin-bottom: 10px; }
  </style>
{% endblock %}





