{# put this hidden input otherwise the elementFomFieldJson is overwritten with blank string #}
<input type="hidden" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" />

<h3 style="margin-top: -30px">Liste des champs disponibles via le formulaire</h3>
{% set fields = value|json_decode %}

{% set filterFromType = {
  'taxonomy': 'taxonomy',
  'email': 'email',
  'checkbox': '',
  'checkbox-group': 'tags',
  'radio-group': '',
  'select': '',
  'date': '',
  'number': '',
  'title': 'text',
  'text': 'text',
  'textarea': 'textarea',
  'address': 'text',
  'openhours': 'openhours',
  'separator': 'separator',
  'header': 'header'
}
%}
{% set formFields = [] %}
<table style="width:100%;margin-bottom: 20px;">
  <tr>
    <th>Nom du champ</th>
    <th>Type</th>
    <th>Label dans le formulaire</th>
    <th>Exemple de filtre à utiliser</th>
  </tr>  

  {% for field in fields %}    
    {% set gogoFilter = filterFromType[field.type] %}
    {% if field.type == 'text' %}{% set gogoFilter = field.subtype %}{% endif %}
    {% set gogoFilter = gogoFilter ? ('|gogo_' ~ gogoFilter) : '' %}

    {% set fieldName = field.name is defined ? field.name : '' %}
    {% if field.type == 'address' %}{% set fieldName = "address" %}{% endif %}
    {% if field.type == 'openhours' %}{% set fieldName = "formatedOpenHours" %}{% endif %}
    {% set formFields = formFields|merge([fieldName]) %}

    {% if field.type == "header" %}
      {% set fieldTag = '## ' ~ field.label %}
    {% elseif field.type == "separator" %}
      {% set fieldTag = '________________________________' %}
    {% else %}
      {% set fieldTag = '{{ ' ~ fieldName ~ gogoFilter ~ ' }}' %}
    {% endif %}    
    
    <tr {% if field.type in ["separator", "header"] %}style="display:none"{% endif %}>
      <td>{{ fieldName }}</td>
      <td>{{ field.type|capitalize }}</td>
      <td>{{ field.label }}</td>        
      <td class="value">{{ fieldTag }}</td>
    </tr>
  {% endfor %}
</table>

{# Get all the fields in the data, and remove the form fields already listed #}
{% set allFields = form.vars.attr.dataproperties|split(',') %}
{% set otherFields = [] %}
{% for field in allFields %}
  {% if field not in formFields %}{% set otherFields = otherFields|merge([field]) %}{% endif %}
{% endfor %}

<h3>Champs fourni par le système</h3>

<table style="margin-bottom: 20px;">
  <tr>
    <th>Nom du champ</th>
    <th>Description</th>
    <th>Utilisation</th>
  </tr>  
   
  <tr>
    <td>status</td>
    <td><ul>
    <li>-6: Doublon</li>
    <li>-4: Supprimé </li>
    <li>-3: Refusé (votes)  </li>
    <li>-2: Réfusé (admin) </li>
    <li>-1: En attente (modifs) </li>
    <li> 0: En attente (ajout)</li>
    <li> 1: Validé (admin)</li>
    <li> 2: Validé (votes)</li>
    <li> 3: Ajouté par admin</li>
    <li> 4: Modifié par admin</li>
    <li> 5: Modifié par propriétaire</li>
    <li> 6: Modifié avec lien direct</li>
    <li> 7: Source externe</li>
  </ul>
    </td>
    <td>{{ '{% if status == 2 %} .... {% endif %}'}}</td>
  </tr>

  <tr>
    <td>createdAt</td>
    <td>Date de la création dans la base de donnée</td>
    <td>{{ 'Créé le : {{ createdAt }}'}}</td>
  </tr>

  <tr>
    <td>updatedAt</td>
    <td>Date de la dernière mise à jour</td>
    <td>{{ 'Dernière mise à jour : {{ updatedAt }}'}}</td>
  </tr>

  <tr>
    <td>sourceKey</td>
    <td>Nom de la source de cet élément (peut être vide)</td>
    <td>{% verbatim %}
      {% if sourceKey == "Fablab" %}Référencé par http://fablabs.io{% endif %}
    {% endverbatim %}</td>
  </tr>
</table>

{% if otherFields|length %}
  <h3>Autres champs disponibles dans les données</h3>

  <table style="margin-bottom: 20px;">
    <tr>
      <th>Nom du champ</th>
      <th>Utilisation</th>
    </tr>  

    {% for field in otherFields %}    
      <tr>
        <td>{{ field }}</td>
        <td>{{ '{{ ' ~ field ~ ' }}'}}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<style>
  td, th {
    padding: 5px;
    border: 1px solid #dadada;
  }
  th { background-color: #f1f1f1; }
  #generate-body-template { float: right; }
</style>

<script>
  function generateBodyTemplate() {
    var template = ""
    $('td.value').each(function() {
      template += $(this).text() + '\n';
    })
    $('textarea[data-id="body-template"]').text(template).change();
    $('input[type=checkbox].use-markdown').prop('checked', true)
  }
</script>